################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuilderGenerator/.vs/BuilderGenerator
/.vs
/BuilderGenerator/bin/Debug/net7.0
/BuilderGenerator/obj
